@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gray-300: #d1d5db;
  --rose-700: #be123c;
  --gray-900: #111827;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
}

.search-input {
  border: 2px solid var(--gray-300);
}

.mantine-Chip-label {
  color: red !important;
}

/* .movie-props {
  grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
} */
